.button-left {
    border-color: transparent;
    transition: 0.28s;
}
.button-left:hover{
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14), 0 3px 4px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
}
.gear-left {
    border-color: transparent;
    transition: 0.28s;
}
.icon-left {
    height: 50px;
    width: 50px;
    border-color: transparent;
}

.logo-left {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-color: transparent;
}

.teal {
    background-color: rgb(0, 151, 136);
    border-color: rgb(0, 151, 136);
}

.gray {
    background-color: rgb(198, 197, 195);
}

.dark-teal {
    background-color: rgb(0, 147, 130);
}

.text-dark-teal{
    color: rgb(0, 147, 130);
}

.light-teal {
    background-color: rgb(199, 246, 240);
}

/*#region[DialogStyle]*/
.dialogs-wrap {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.preview-dialog{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.dialog {
    transition: 0.28s;
    margin: 5px;
    padding: 5px;
    width: 100%;
    border-bottom: 1px solid rgb(220,220,220);
}
.dialog:hover{
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14), 0 3px 4px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
}
.dialog-name {
    font-weight: bold;
}
.dialog-datetime{
    font-size: 12px;
    color: rgb(198, 197, 195);
}
.dialog-last-message{
    font-size: 12px;
    color: rgb(198, 197, 195);
}
.dialog-last-message-new
{
    font-size: 12px;
    font-weight: bold;
    color: rgb(0, 151, 136);
}
.dialog-logo{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border-color: transparent;
    vertical-align: center;
}
/*#endregion*/

/*#region[SearchingStyle]*/
.searcher-icon{
    width: 45px;
    height: 45px;
}
.searcher-input{
    width: 100%;
}
.searcher-input>input{
    height: 40px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgb(200,200,200);
}
.searcher-input>input:hover{
    cursor: text;
}
.searcher-input>input:focus{
    outline: 0;
    outline-offset: 0;
    border-bottom: 2px solid rgb(0, 151, 136);
}
.searcher-wrap{
    margin: 15px;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    display: flex;
    flex-direction: row;
}
/*#endregion*/

/*#region[AccountStyle]*/
.account-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.account-input-text{
    border: 0;
    border-bottom: 1px solid rgb(180,180,180);
    cursor: pointer;
}


.input__wrapper {
    width: 100%;
    position: relative;
    margin: 15px 0;
    text-align: center;
}

.input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.input__file-icon-wrapper {
    height: 60px;
    width: 60px;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-right: 1px solid #fff;
}

.input__file-button-text {
    line-height: 1;
    margin-top: 1px;
}

.input__file-button {
    width: 220px;
    height: 40px;
    background: rgb(0, 147, 130);
    color: #fff;
    font-size: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto;
}
.input__file-button-sert {
    width: 60px;
    height: 40px;
    background: rgb(0, 147, 130);
    color: #fff;
    font-size: 1rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
}
.account-input-btn {
    margin-top: 25px;
    border-radius: 3px;
    border-color: rgb(0, 151, 136);
    background-color: rgb(0, 151, 136);
    cursor: pointer;
}
/*#endregion*/

/*#region [NewsStyle]*/
.news-wrap{
    padding: 0;
    margin: 0;
    overflow-y: auto; /* свойство для прокрутки по горизонтали. Автоматом, если содержимое больше блока */
    overflow-x: auto; /* свойство для прокрутки по горизонтали. Автоматом, если содержимое больше блока */
}
.news{
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    height: 100px;
    transition: 0.28s;
}
.news:hover
{
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14), 0 3px 4px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
}
/*#endregion*/
