node_modules
/.idea/workspace.xml
/.idea/workspace.xml
/.idea/workspace.xml
/fractalz-electron/.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_Merge_at_28_07_2022_9_37_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Merge_at_28_07_2022_9_37__Changes_.xml
fractalz-wpf/FractalzFrontend/FractalzFrontend/bin/Debug/
fractalz-wpf/FractalzFrontend/FractalzFrontend/obj/Debug/
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.dll
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/fractalz-wpf/FractalzFrontend/.vs/FractalzFrontend/v17/.suo
/fractalz-wpf/FractalzFrontend/.vs/FractalzFrontend/v17/.suo
/fractalz-wpf/FractalzFrontend/FractalzFrontend.Cache/obj/Debug/FractalzFrontend.Cache.csproj.AssemblyReference.cache
/fractalz-wpf/FractalzFrontend/FractalzFrontend.Client/obj/Debug/FractalzFrontend.Client.csproj.AssemblyReference.cache
/fractalz-wpf/FractalzFrontend/FractalzFrontend.Logger/obj/Debug/FractalzFrontend.Logger.csproj.AssemblyReference.cache
/fractalz-wpf/FractalzFrontend/FractalzFrontend/obj/Debug/FractalzFrontend.csproj.AssemblyReference.cache
/fractalz-wpf/FractalzFrontend/FractalzFrontend/obj/Debug/FractalzFrontend.csproj.FileListAbsolute.txt
/fractalz-wpf/FractalzFrontend/FractalzFrontend/obj/Debug/FractalzFrontend_MarkupCompile.cache
/fractalz-wpf/FractalzFrontend/FractalzFrontend/obj/Debug/GeneratedInternalTypeHelper.g.cs
