node_modules
/.idea/workspace.xml
/.idea/workspace.xml
/.idea/workspace.xml
/fractalz-electron/.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_Merge_at_28_07_2022_9_37_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Merge_at_28_07_2022_9_37__Changes_.xml
